.plain{
    background-image: url("https://th.bing.com/th?id=OIP.vjUQ4pVid2bZ2osx7h8rhQHaEo&w=316&h=197&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2");
    background-repeat: no-repeat;
    height:100%;
    background-size: cover;
    padding: 5px;
   
}